# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=89f03b48b3f3c86261024a7ff76cc16d
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml
#
# Rewrite according to your DB configuration. Keep in mind to put your MySql Version
# DATABASE_URL="sqlite:///%kernel.project_dir%/var/data.db"
# DATABASE_URL="postgresql://db_user:db_password@127.0.0.1:5432/db_name?serverVersion=13&charset=utf8"
DATABASE_URL="<Your DB settings url>"
###< doctrine/doctrine-bundle ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1|)(:[0-9]+)?$'
###< nelmio/cors-bundle ###

###> trikoder/oauth2-bundle ###
# Fallback OAuth2 encryption key
# Please override this with a secure value: https://oauth2.thephpleague.com/installation/#string-password
# Consider generating a passphrase provided private key and public key. Here I am uing that
# openssl genrsa -aes128 -passout pass:_passphrase_ -out private.key 2048; Replace "_passphrase_" with yours.
# openssl rsa -in private.key -passin pass:_passphrase_ -pubout -out public.key; Replace "_passphrase_" with yours.
# This step is important as this helps to generate access token and refresh token
# Move the generated keys to /var/oauth folder in your project
OAUTH2_ENCRYPTION_KEY="<Your encryption key>"
PRIVATE_KEY_PASSPHRASE="<Your private key passphrase>"
PRIVATE_KEY="<Your private key file>"
PUBLIC_KEY="<Your public key file>"
###< trikoder/oauth2-bundle ###

###> Project Settings ###
CLIENT_ID="<Your client ID>"
OAUTH_FACEBOOK_CLIENT_ID="<Your FB client ID>"
OAUTH_FACEBOOK_CLIENT_SECRET="<Your FB client Secret>"
OAUTH_GOOGLE_CLIENT_ID="<Your Google client ID>"
OAUTH_GOOGLE_CLIENT_SECRET="<Your Google client Secret>"
OAUTH_APPLE_CLIENT_ID="<Your Apple client Secret>"
OAUTH_APPLE_TEAM_ID="<Your Apple Team Id>"
OAUTH_APPLE_KEY_FILE_ID="<Your Apple key file Id>"
OAUTH_APPLE_KEY_PATH="<Your Apple key directory path>"
FE_BASE_URL="<Your FE base url>"
BE_BASE_URL="<Your BE base url>"
REGISTRATION_URL_SUFFIX=user-confirmation/%s/%s
FORGOT_PASSWORD_URL_SUFFIX=reset-password/%s/%s
MORE_URL_SUFFIX=balu/more/profile/%s/%s
WEB_LOGIN_URL=/?page=LoginPage
FILES_FOLDER=files
UPLOAD_FILE_FOLDER=public/files
PUBLIC_PATH=public
CATEGORY_ICON_FOLDER=companies
DEFAULT_CURRENCY=CHF
LOCALE=en
DAMAGE_RESPONSE_PENDING_MAIL_REPEAT=3
COMPANY_RESPONSE_PENDING_MAIL_REPEAT=29
POST_PAYMENT_URL_PROPERTY="<Your POST_PAYMENT_URL_PROPERTY>"
POST_PAYMENT_URL_COMPANY="<Your POST_PAYMENT_URL_COMPANY>"
###< Project Settings ###

###> symfony/swiftmailer-bundle ###
# For Gmail as a transport, use: "gmail://username:password@localhost"
# For a generic SMTP server, use: "smtp://localhost:25?encryption=&auth_mode="
# Delivery is disabled by default via "null://localhost"
#MAILER_URL=null://localhost
MAILER_DSN="<Your MAILER_DSN>"
###< symfony/swiftmailer-bundle ###
###> Stripe settings ###
STRIPE_WEBHOOK_SECRET="<Your STRIPE_WEBHOOK_SECRET>"
STRIPE_SECRET_KEY="<Your STRIPE_SECRET_KEY>"
###< Stripe settings ###

###> google/apiclient ###
GOOGLE_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
###< google/apiclient ###
PORTAL_URL=https://portal.balu.property/#/
